.welcome-panel-content{
	max-width: 100%;
}


.wd-welcome-panel-content{
	position: relative;
    overflow: auto;
    margin: 40px 0;
    padding: 23px 10px 0;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: #fff;
    font-size: 13px;
    line-height: 2.1em;
}


.wd-tr:nth-child(even) {
  background: #efefef;
}

.wd-table{
	width: 100%;
	max-width: 1000px;
}